.main {

	width:100%;
	max-width:1000px;

	margin:0 auto;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 4px 8px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 4px 8px 0px rgba(50, 50, 50, 0.75);
}
 
.slides {
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
	margin: 0;


	display: none;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:#000;
}
 
.slides .active {
	background:#000;
}
 
.slidesjs-navigation{
	background:#676767;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:left;
	 
}
