@import 'normalize.styl'
// @import 'font.styl'
.slides
	img
		height 100%
		width 30%


gris_claro = #676767
gris_oscuro =#676767
.logo
	width 50% !important
	height auto !important
	text-align center
.tm
		font-size 3em
		margin .2em .3em
img
	-webkit-transition: all 0.7s ease
	transition: all 0.7s ease
.none
	display none

.noneno
	display block !important
.desc
	font-size 2em
.ir-arriba 
	display none
	padding 20px
	background none repeat scroll 0% 0% #837D82
	font-size 20px
	color #fff
	cursor pointer
	position  fixed
	bottom 21px
	right 107px

.center
	text-align center
.centrado
	text-align center
	margin 1em 		
.action
	font-size: 3em
	color white
.inline-block
	display inline-block
.hr
	width 80%
	margin 1em auto
	
.space-redes
	padding 1em
	text-align center
	// display 
	// .op-facebook
	// 	text-align center
	// .fb-share-button
	// 	text-align center
	// .fb-like
	// 	text-align center
	// .fb-follow	
	// 	text-align center
		

.container-uno
	-webkit-transition 3s
		transition 3s
.container-dos
	-webkit-transition 3s
	transition 3s	
	.wrap
		margin: 0 6%

body
	font-size 16px
	font-family 'Lucida Bright'
	  
a
	text-decoration none
	color inherit
	
header
	background: white
	width:100%
	// padding: 40px 0
	color: white
	text-align: center
	img
		width 40%
		height 10em
nav ul
	background: #605D75
	overflow: hidden
	color: white
	padding: 0
	text-align: center
	margin 0
	transition: max-height 0.4s
	-webkit-transition: max-height 0.4s
 
nav ul li
	display: inline-block
	padding: 20px
 
nav ul li:hover
	background: #399077
	
section
	//interlineado
	line-height:1.5em
	font-size: 0.8em
	padding: 40px
	width: 75% 
	margin: 0 auto
	
.handle
	width: 100%
	background: #605D75
	text-align: center
	box-sizing: border-box
	padding: 1em .7em
	cursor: pointer
	color white
	display none
	


.titulo
	font-size 3.2em
	color gris_oscuro
	font-family 'Lucida Bright'
.description
	font-size 1.4em
	line-height 1em
	color gris_claro
	font-family 'HelveticaNeue'
	

.redes-sociales
	width 90%
	margin 0 auto
	cursor pointer 
	margin-top: 2em	 
	.item-one
		border 1px solid #808080
		box-shadow 3px 4px 9px 0px rgba(51, 50, 50, 0.87)
		margin 0.2em		 
		transition all 1s
		span
			border-right 1px solid transparent
			margin-left .3em
			margin-top 0.4em
			overflow hidden		
	.item-two
		border 1px solid #808080
		box-shadow 3px 4px 9px 0px rgba(51, 50, 50, 0.87)
		margin 0.2em		 
		transition all 1s
		span
			// border-bottom 1px solid red
			margin-top 0.4em
//animacion
.item-one:hover
	background #708DBF
	-webkit-transform scale(1.1)
	transform scale(1.1)
	transition all .3s	
	.desc
		color white
		background-color rgba(66, 139, 202, 0.83)
		
		
		
.item-two:hover
	background #708DBF
	-webkit-transform scale(1.1)
	transform scale(1.1)
	transition all .3s
	color white
	.desc
		color white
		background-color rgba(66, 139, 202, 0.83)
	
.desc
	color black
	background-color rgba(66, 139, 202, 0.83)
	font-family cursive
	width 80%
	margin-left: 1em
	padding .2em
	border-radius .2em

.Section 
	display none
	.Article
		display inline-block		
		width 30%		 
.titulo-form	
	font-size: 2em
	color: #676767
	font-family: 'Lucida Bright'

footer.Footer
	text-align center
	display block
	text-align center
	background #353249
	h2.tittle-4
	color white
	p.article-parrafo
		color white
	

@media (min-width: 400px) and (max-width: 401px)
	.register 
		transition 1s
		width: 250px !important
	.m
		p
			max-height: 2em
	.titulo
		font-size 4.2em
	.description
		font-size 1.6em		
	.article
		img
			width 33%
			transition all .2s
			margin-top .6em
		img:hover
			transform scale(1.2)
			transition all 1s
	.redes-sociales
		padding 1em 1em 
		.item-one
			background #EF2673
			margin 0.2em		 
			transition all 1s
			span
				border-right 1px solid transparent
				margin-left .3em
				margin-top 0.4em
				overflow hidden			
		.item-two
			background #605D75
			margin 0.2em
			transition all 1s
			span
				border-right 1px solid transparent
				margin-top 0.4em
	//animacion
	.item-one:hover
		-webkit-transform scale(1.1)
		transform scale(1.1)
		transition all .3s
	.item-two:hover
		-webkit-transform scale(1.1)
		transform scale(1.1)
		transition all .3s
			
			

@media screen and (max-width: 580px)
	nav ul
		//esconde todo el ul del nav
		max-height: 0em
	.showing
		//muestra el menu
		max-height: 20em
	nav ul li
		box-sizing: border-box
		width: 100%
		padding: 1em
	
	.handle
		display: block	
	.m
		p
			max-height: 2em	

@media (min-width: 640px) 
	.titulo
		font-size 4em
	hr
		width 40%
	.register 
		width: 40%	
	.m
		p
			max-height: 2em
	.redes-sociales 
		margin 0 1em
		width  98%
		.item-one
			width 46%
			display inline-block
			
		.item-two
			width 46%
			display inline-block			
	.Section
		display: block	
		text-align center
		.Article
			padding: 1em
			margin 4em
			text-align center
			width 50%
			h1
				 font-family cursive
				 color gray
				 font-size 4em		
				 text-align center	 	
			p
				text-align: initial	 
				 font-family cursive
				 font-size 2em
				 color gray
				 line-height 1em
				 text-align center
			
	.tm
		font-size 3em
	.encuentranos
		font-size 3em
		color gray
		margin .67em 0
 	.p
 		text-align: initial	 
		 font-family cursive
		 font-size 2em
		 color gray
		 line-height 1em
		 text-align center
 	footer.Footer
		text-align center
		display block
		text-align center
		background #353249
		h2.tittle-4
			color white
			p.article-parrafo
				color #E2E2E2	

 	footer.Footer
		text-align center
		display block
		text-align center
		background #353249
		h2.tittle-4
			color white
			font-size 2em
			p.article-parrafo
							
				color #E2E2E2
		img:hover
			-webkit-transform scale(1.1)
			transform scale(1.1)
			transition all .3s

		
			